link-workspace-packages = true
shared-workspace-lockfile = true
@libs:registry=https://europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:_password="eWEyOS5hMEFlVE0xaWNXWVEwR0gzRlZFWkhyZWVRTUZYZW5TVU1CUWFsSGc0SWdQODVNVDJINng2WFowQlFDNXp2YVlKVGdwVC1WTHhRUVZIN1E0VjI2cGRhbGU5dFY1UmhXZmNMSWU0d0wxUnMtVnRqWGxJdG5fbHBTWDFTX1NKMHotWmRQcnd2cDQ1Y3F6UXJjVjdlQmt1b2ExcHUwdWZ4THg2Q1dOcmNVendhQ2dZS0Fhb1NBUkFTRlFIV3RXT210OTJoSWtCeFdYN1VicmRpSEJzRHR3MDE3Mw=="
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:username=oauth2accesstoken
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:always-auth=true
@(lab) Foleon Comments
@foleon:registry=https://europe-west4-npm.pkg.dev/foleon-staging/foleon/
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:_password="eWEyOS5hMEFlVE0xaWNXWVEwR0gzRlZFWkhyZWVRTUZYZW5TVU1CUWFsSGc0SWdQODVNVDJINng2WFowQlFDNXp2YVlKVGdwVC1WTHhRUVZIN1E0VjI2cGRhbGU5dFY1UmhXZmNMSWU0d0wxUnMtVnRqWGxJdG5fbHBTWDFTX1NKMHotWmRQcnd2cDQ1Y3F6UXJjVjdlQmt1b2ExcHUwdWZ4THg2Q1dOcmNVendhQ2dZS0Fhb1NBUkFTRlFIV3RXT210OTJoSWtCeFdYN1VicmRpSEJzRHR3MDE3Mw=="
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:username=oauth2accesstoken
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:always-auth=true