link-workspace-packages = true
shared-workspace-lockfile = true
@libs:registry=https://europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:_password="eWEyOS5hMEFlVE0xaWNydDJ1dkFmbWYyeEZibGJrcmFzc0w4TW1CUHFEc1N4QkVDZWVWVm1sQjNpZlBBd0JjbEVEQWZZQjhUakdOdmtTcmV3NzNiRUlIRGhKd0RTR3JVbjAxWTZwY3NCelhFNVo4YW1DVXVfUGZkUnJfbEZMM01NRkQxZXh0NGF1alZ3cDE1UGxYTkgzTG1QUEhNOFZhY0ZwTXNFZ2FDZ1lLQWZFU0FSSVNGUUhXdFdPbVZSaExTYUp2YmxNMHd4N3FaWFFTQ2cwMTY2"
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:username=oauth2accesstoken
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:always-auth=true
@(lab) Foleon Comments
@foleon:registry=https://europe-west4-npm.pkg.dev/foleon-staging/foleon/
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:_password="eWEyOS5hMEFlVE0xaWNydDJ1dkFmbWYyeEZibGJrcmFzc0w4TW1CUHFEc1N4QkVDZWVWVm1sQjNpZlBBd0JjbEVEQWZZQjhUakdOdmtTcmV3NzNiRUlIRGhKd0RTR3JVbjAxWTZwY3NCelhFNVo4YW1DVXVfUGZkUnJfbEZMM01NRkQxZXh0NGF1alZ3cDE1UGxYTkgzTG1QUEhNOFZhY0ZwTXNFZ2FDZ1lLQWZFU0FSSVNGUUhXdFdPbVZSaExTYUp2YmxNMHd4N3FaWFFTQ2cwMTY2"
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:username=oauth2accesstoken
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:always-auth=true